/****** CONTAINER ******/
.card_charts {
    margin-bottom: 3rem;
}

.container_graph {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    width: 69%;
    padding: 0 2rem;
}

/****** CONTENT ******/

/* TOP CONTENT */
.top_content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.topcharts_informations {
    display: flex;
    justify-content: space-between;
}

.box1 {
    width: 350px;
    height: 200px;
    padding-top: 1rem;
}

.box2 {
    width: 350px;
    height: 200px;
}

.container_box3 {
    position: relative;
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.iconScore {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2rem;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--main-bg-color-blue);
}

.text_score p:first-child {
    color: var(--main-color-black); 
    font-weight: 700;
    font-size: 20px;
}

.text_score p:last-child {
    color: var(--content-color-text--dark);
    font-size: 14px;
}

/* BOTTOM CONTENT */
.bottom_content {
    display: flex;
    justify-content: space-between;
}

.boxBottom {
    width: 230px;
    height: 120px;
}



.box_bottom_informations {
    display: flex; 
    flex-direction: column;
    padding: 1rem;
}

.header_text_bottom_informations {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1rem;
}

.header_text_bottom_informations p {
    font-size: 20px;
    font-weight: 700;
    color: var(--main-color-black)
}

.textContent_bottom_informations {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: var(--content-color-text--dark);
}

.header_text_bottom_informations .iconScore {
    margin: 0 1rem;
    width: 40px;
    height: 40px;
}

/* DESIGN ALL BOX */
.box {
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055), 0 1px 2px rgba(0, 0, 0, 0.089);
}

.inside {
    height: 40%;
    width: 100%;
}

.cardsInformations {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

