/****** CONTAINER ******/

.container_settings {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 69%;
    padding: 0 2rem;
}

.container_settings_content {
    margin-top: 2rem;
}

.users_settings {
    width: 100%;
}

.users_settings h4 {
    font-size: 24px;
    font-weight: 700;
    color: var(--main-color-black);
    letter-spacing: 3px;
}

.users_settings #paragraph_settings{
    font-size: 16px;
    color: var(--content-color-text--dark);
    padding-top: .5rem;
}

/****** INPUT ******/

.input_settings {
    display: flex;
    margin-top: 15px;
}
.label_settings {
    display: flex;
    flex-direction: column;
}
.input_settings button {
    width: 150px;
    height: 30px;
    margin-left: 1rem; 
    outline: none;
    background-color: var(--main-bg-color-blue);
    border: 1px solid var(--main-bg-color-blue);
    padding: 5px 10px;
    border-radius: 7px;
    color: #FFFFFF;
    cursor: pointer;
    margin: 0 1rem;
}
.input_block_settings {
    margin-top: 3rem;
}

.input_block_settings label {
    color: var(--content-color-text--dark);
    font-size: 16px;
}
.input_settings input {
    width: 250px;
    height: 30px;
    padding: 0.5rem;
}

.label_settings_password {
    display: flex;
}

.label_settings_password input {
    width: 150px;
    margin-right: 1rem;
}

@media screen and (max-width: 1000px) {
    .container_settings {
        flex: 1;
    }

 }