/******* RESET CSS *******/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*******--- COLOR ---*******/
:root {
  --main-bg-color-blue: #97d4e6;
  --main--bg-color-white: #ffffff;
  --main-color-orange: #f8763d;
  --main-color-black: #48484b;
  --main--bg-color-gray: #f8faff;
  --content-color-card: #d9eff5;
  --content-color-text: #b1b2b4;
  --content-color-text--dark: #8e8e8f;
  --content-card-color-orange: #F8763D;
  --content-card-color-blue: #97D4E6;
  --content-card-color-yellow: #FFD56A;
}

body {
  background-color: var(--main-bg-color-blue);
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/******* CARD DESIGN  *******/
.main_card_container {
  display: flex;
  align-items: center;
  background-color: var(--main--bg-color-gray);
  width: 80vw;
  height: 90vh;
  border-radius: 30px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.075);
}

/******* NavBar *******/
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 95%;
  width: 100px;
  background-color: var(--main-bg-color-blue);
  margin-left: 20px;
  border-radius: 20px;
}

#navigation_icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 45%;
  cursor: pointer;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 2rem 1.8rem;
}

.icon p {
  display: none;
  font-weight: 700;
  color: var(--main--bg-color-white);
  font-size: 14px;
}

.active {
  display: block;
}

.icon:hover {
  background-color: #aedeec;
  border-radius: 10px;
}

.icon:hover p {
  display: block;
  position: absolute;
  bottom: 10px;
}

/******* CONTENT *******/

/******* MIDDLE CONTENT *******/
.content_home {
  height: 95%;
  width: 60%;
  margin: 0rem 2rem;
}

.dashboard {
  color: var(--main-color-black);
  margin-top: 2rem;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.header_dashboard {
  font-weight: 700;
  margin-bottom: 0.3rem;
  font-size: 20px;
}

.home_date {
  color: var(--content-color-text);
}

/****** SEARCH ******/
input {
  border: none;
  padding-left: 1rem;
}

input[type="text"] {
  background-image: url(images/search.png);
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-position: 150px;
  height: 50px;
  width: 200px;
  border-radius: 15px;
  outline: none;
}

input::placeholder {
  padding-left: 15px;
}

/****** DESCRIPTION ******/
.description_home {
  display: flex;
  align-items: flex-start;
  position: relative;
  margin-top: 5rem;
  width: 100%;
  height: 170px;
  background-color: var(--content-color-card);
  border-radius: 20px;
}

.description_home img {
  position: absolute;
  bottom: -16px;
  right: 25px;
  width: 218px;
  height: auto;
}

.text_description {
  height: 100%;
  width: 400px;
  padding: 2rem;
}

.text_description p:first-child {
  margin-bottom: 1rem;
  font-size: 25px;
  color: var(--main-color-black);
}

.text_description p:last-child {
  font-size: 15px;
  color: var(--content-color-text--dark);
  font-weight: 400;
}

/***** DAILY TASKS *****/
.dailyTasks_home {
  margin-top: 2rem;
  width: 100%;
  height: 120px;
}

.dailyTasks_home h3 {
  margin-bottom: 1rem; 
  color: var(--main-color-black);
}

.container_dailytask {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.cardDailyTask {
  position: relative; 
  width: 200px;
  height: 70px;
  background-color: var(--main--bg-color-white);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.009), 0 3px 6px rgba(0, 0, 0, 0.009);
  border-radius: 15px;
}

/* STEPS CARDS */
.card_steps_dailytask {
  display: flex; 
  align-items: center;
  justify-content: flex-start;
  padding-left: 1rem;
}

.left_card_steps {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  width: 30%;
  height: 80%;
}

/* CARDS */
.text-right_card {
  padding-left: 1.5rem;
}

.text-right_card p:first-child{
  font-size: 14px;
  font-weight: 700; 
  color: var(--main-color-black)
}

.text-right_card p:last-child{
  font-size: 12px;
  font-weight: 300; 
  color: var(--content-color-text--dark)
}

.little_circle1{
  width: 4px;
  height: 4px; 
  border-radius: 50%;
}

.little_circle2{
  width: 4px;
  height: 4px; 
  border-radius: 50%;
}

.orange {
  background-color: var(--content-card-color-orange);
}

.blue {
  background-color: var(--content-card-color-blue);
}

.yellow {
  background-color: var(--content-card-color-yellow);
}

.button_setting_card {
  width: 12px;
  position: absolute; 
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* RIGHT CONTENT  */
.profileHome {
  background-color: var(--main--bg-color-white);
  height: 90vh;
  width: 20%;
}


/****** CHARTS ******/
.charts {
  height: 300px;
}

.recharts-responsive-container {
  height: 100%;
}